@charset "UTF-8";
@import "settings";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


main{
  position: relative;
  max-width: 720px;
  margin: 0 auto;
}


header{
  @extend %flex;
  justify-content: space-between;

  &>nav{
    position: relative;

    &>ul{
      @extend %ul, %flex;

      li{
        margin-right: 10px;

        a{
          display:block;
          padding: 8px 0;
          font-size: 0.8em;
          color: green;
          
          &:hover{
            color: lighten(green, 15%);
          }
        }
      }

    }
  }
  &>.authBlock{
    position: relative;

    a{
      display: inline-block;
      padding: 8px 0;
      font-size: 0.8em;
      color: green;
      
      &:hover{
        color: lighten(green, 10%);
      }
    }
  }

}
section#register{

  .responseFromDb{
    position: relative;
    margin-bottom: 50px;

    .error{
      border: 1px solid red;
      padding: 10px;
      border-radius: 5px;
      font-size: 12px;
    }
    .succes{
      @extend .error;
      border-color: green;
    }
  }

  h2{
    font-family: $roboto;
    color: gray;
  }

  input[type='text']{
    padding: 6px 10px;
    outline: none;
    width: 300px;

  }
  input[type='password']{
    @extend input[type='text'];
  }
}
