@charset "UTF-8";

/*-----------------------------------
Основные цвета
-----------------------------------*/
$green: green;
$lightGreen: lighten($green, 15%);
$gray: gray;
$red: #e34900;



/*------------------------------
Дополнительно
-------------------------------*/
$roboto: 'Roboto Condensed', sans-serif;

/*------------------------------
Основные настройки
-------------------------------*/
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
  background: #efefef;
}

/*------------------------------
шаблонные селекторы
-------------------------------*/
%flex{
  display: flex;
  flex-wrap: wrap;
}

%ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

%text{
  font-size: 14px;
  line-height: 1.5em;
  a{
    color: $green;
    
    &:hover{
      color: $lightGreen;
    }
  }
  img{
    max-width: 100%;
  }
}

/*-----------------------------------
Часто исп-мые классы
-----------------------------------*/
.ared{
  color: $red;
  
  &:hover{
    color: darken($red, 15%);
  }
}
.agreen{
  color: $green;
  
  &:hover{
    color: lighten($green, 15%);
  }
}
.a_universal{
  color: $gray;

  &:hover{
    color: lighten($green, 15%);
  }
}


/*-----------------------------------
forMargin
-----------------------------------*/
$i: 5; $step: 5; $max: 100;
@while($i <= $max ){
  .mt#{$i}{
    margin-top:$i + px;}
  .mr#{$i}{
    margin-right:$i + px;}
  .mb#{$i}{
    margin-bottom:$i + px;}
  .ml#{$i}{
    margin-left:$i + px;}

  .mX#{$i}{
    margin-left:$i + px;
    margin-right:$i + px;
  }

  .mY#{$i}{
    margin-top:$i + px;
    margin-bottom:$i + px;
  }


  $i: $i + $step;
}

/*-----------------------------------
Постраничная навигация
-----------------------------------*/
.postrNav{
  ul{
    @extend %ul, %flex;
    justify-content: center;
    //align-items: center;

    li{
      margin: 0 5px;

      a{
        text-decoration: none;
        color: $green;

        &:hover{
          color: $lightGreen;


        }

        i{
          font-size: 32px;
        }
      }

      &.item{
        font-size: 24px;
      }
      &.center{
        font-size: 24px;
        font-weight: bold;
        color: $lightGreen;
      }
    }
  }
}